@import "./_Variables.scss";
@import "./_Breakpoints.scss";

#home {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/img/castle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 6rem);
    padding: 5rem 1rem;

    h1 {
      font-family: $fontTitle;
      font-size: 3rem;
      font-weight: 600;
      color: $white;
      max-width: 80%;
      margin-bottom: 3rem;
      text-align: center;
      text-shadow: -0.1rem 0 $grey-black, 0 0.2rem $grey-black,
        0.2rem 0 $grey-black, 0 -0.1rem $grey-black;

      @include LGmobil {
        font-size: 3.2rem;
        margin-top: 2.2rem;
        margin-bottom: 20%;
      }

      @include desktop {
        font-size: 3.8rem;
        margin-top: 2.2rem;
      }
    }

    .about-container {
      width: 90%;
      background-color: $white;
      margin-bottom: 6rem;
      padding: 2rem 2rem;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem 1.6rem 0.4rem $grey-black;
      opacity: 0.7;

      h2 {
        font-family: $fontTitle2;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.4rem;
        @include desktop {
          font-size: 1.6rem;
        }
      }
    }
  }
}
