@import "./_Variables.scss";
@import "./_Breakpoints.scss";

#royal-family-details {
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(14, 15, 19, 0.8), rgba(5, 5, 5, 0.5)),
    url(../assets/img/bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  .container {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    .details-box-mobil {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 40rem;
      background-color: rgba(255, 255, 255, 0.65);
      border: 2px solid rgba(255, 255, 255, 0.65);
      border-radius: 5px;
      padding: 8rem 3rem 2rem;

      @include desktop {
        display: none;
      }

      img {
        position: absolute;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
        top: -7rem;
      }

      .details-title {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

        &:after {
          position: absolute;
          content: "";
          background-image: url(../assets/img/svg/separator.svg);
          background-repeat: no-repeat;
          width: 80%;
          height: 50px;
          bottom: -60px;
          left: calc(50% - 40%);
        }

        h1 {
          font-size: 3rem;
          font-family: $fontTitle;
          color: #222222;
          line-height: 3.2rem;
        }

        h2 {
          font-size: 1.7rem;
          font-family: $fontTitle2;
          color: #222222;
        }
      }

      p {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        color: #222222;
        max-width: 85%;
      }
    }

    .details-box-desktop {
      position: relative;
      max-width: 70rem;
      height: 48rem;
      background-color: rgba(255, 255, 255, 0.65);
      border: 2px solid rgba(255, 255, 255, 0.65);
      border-radius: 5px;
      padding: 3rem 5rem;
      display: none;

      @include desktop {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &::before {
        position: absolute;
        content: "";
        width: 10rem;
        height: 10rem;
        background-image: url(../assets/img/svg/corner.svg);
        background-repeat: no-repeat;
        right: 1.2rem;
        top: 1.2rem;
      }

      &::after {
        position: absolute;
        content: "";
        width: 10rem;
        height: 10rem;
        background-image: url(../assets/img/svg/corner.svg);
        background-repeat: no-repeat;
        transform: rotate(180deg);
        left: 1.2rem;
        bottom: 1.2rem;
      }

      .left-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
        margin-left: 1rem;

        img {
          max-width: 100%;
          height: 90%;
          filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
        }
      }

      .right-box {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5rem;

        .details-title {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10rem;

          &:after {
            position: absolute;
            content: "";
            background-image: url(../assets/img/svg/separator.svg);
            background-repeat: no-repeat;
            width: 24rem;
            height: 50px;
            bottom: -80px;
            left: calc(50% - 12rem);
          }

          h1 {
            font-size: 5rem;
            font-family: $fontTitle;
            color: #222222;
            line-height: 4rem;
            margin-bottom: 0.8rem;
          }

          h2 {
            font-size: 2.4rem;
            font-family: $fontTitle2;
            color: #222222;
          }
        }

        p {
          font-size: 1.6rem;
          font-weight: 600;
          text-align: center;
          color: #222222;
          max-width: 85%;
        }
      }
    }
  }
}
